<div class="auth-form signup-form">
  <div class="logo-open2"></div>
  <div class="form-group" ng-controller = "signupCtrl">
    <p class="auth-label">Sign Up</p>
    <div class="input-container">
      <input type="text" name="username" ng-model="username" placeholder="Username">
      <i class="fa fa-user login-icon" aria-hidden="true"></i>
    </div>
    <div class="input-container">
      <input type="password" name="password "ng-model="password" placeholder="Password">
      <i class="fa fa-lock login-icon" aria-hidden="true"></i>
    </div>
    <button ng-click="submit()" aria-label="Eat cake">Sign Up!</button>
    <i class="fa fa-angle-double-left" aria-hidden="true"></i>&nbsp;<a href="" class="signup-link" ng-click="redirectToLogin()">Back to Login</a>
  </div>
</div>
