<div ng-controller="AppCtrl" class="admin-bar">
  <a href="" ng-click="logout()" class="logout" id="logout">Logout&nbsp;&nbsp;<i class="fa fa-sign-out" aria-hidden="true"></i></a>
  <div class="admin-logo"></div>
</div>

<div id="newEvent" ng-include src="'app/event/newEvent.html'"></div>

<div id="sidebar-wrapper">
  <div class="sidebar" id="sidebar" ng-controller='dashboardCtrl'>
    
      <!-- event button -->
      <button class="new-event" id="newEvent" ng-click="showAdvanced($event)">
        <span>
          New Event
        </span>
      </button>
      
      <div class="sidebar-expand sidebar-friends">
        <p ng-click="toggleExpand(1)" class="expand-title"><i class="fa fa-angle-down" aria-hidden="true"></i>&nbsp;<i class="fa fa-user"></i>&nbsp;View All Friends</p>
        <div ng-show="expand1" class="sidebar-to-expand friends-list">
          <!-- Jessica, do the NG repeat here for a list of all friends -->
          <p>Kan</p>
          <p>Jessica</p>
          <p>Ben</p>
          <p>Annie</p>
        </div>
      </div>

      <div class="sidebar-expand sidebar-my-events">
        <p ng-click="toggleExpand(2)" class="expand-title"><i class="fa fa-angle-down" aria-hidden="true"></i>&nbsp;<i class="fa fa-user"></i>&nbsp;View My Events</p>
        <div ng-show="expand2" class="sidebar-to-expand">
          <!-- Jessica, do the NG repeat here for a list of all events I have created. -->
          <!-- Layout for 'my events'. Do the ng-repeat on the li element -->
          <ul>
            <li class="my-event event-item">
              <p class="title">Drinks</p>
              <p class="time"><i class="fa fa-clock-o" aria-hidden="true"></i>08:00:00 PM</p>
              <p class="unjoin"><i class="fa fa-times" aria-hidden="true"></i><a href="">Remove Event</a></p>
            </li>
            <li class="my-event event-item">
              <p class="title">Turn up</p>
              <p class="time"><i class="fa fa-clock-o" aria-hidden="true"></i>08:00:00 PM</p>
              <p class="unjoin"><i class="fa fa-times" aria-hidden="true"></i><a href="">Remove Event</a></p>
            </li>
            <li class="my-event event-item">
              <p class="title">Okay Fine.</p>
              <p class="time"><i class="fa fa-clock-o" aria-hidden="true"></i>08:00:00 PM</p>
              <p class="unjoin"><i class="fa fa-times" aria-hidden="true"></i><a href="">Remove Event</a></p>
            </li>
          </ul>
        </div>
      </div>
      
      <div class="sidebar-events-attending">
        <h2>Events I'm Attending</h2>

        <!-- Attending Events List -->
        <!-- Jessica, do the NG repeat here for a list of all events I am attending. -->
        <ul>
          <li class="attending event-item">
            <p class="title">Drinks</p>
            <p class="user"><i class="fa fa-user"></i>Kan</p>
            <p class="time"><i class="fa fa-clock-o" aria-hidden="true"></i>08:00:00 PM</p>
            <p class="unjoin"><i class="fa fa-times" aria-hidden="true"></i><a href="">Remove Event</a></p>
          </li>
          <li class="attending event-item">
            <p class="title">JAYZUSS</p>
            <p class="user"><i class="fa fa-user"></i>Annie</p>
            <p class="time"><i class="fa fa-clock-o" aria-hidden="true"></i>08:00:00 PM</p>
            <p class="unjoin"><i class="fa fa-times" aria-hidden="true"></i><a href="">Unjoin</a></p>
          </li>
          <li class="attending event-item">
            <p class="title">TurnUPPPP!</p>
            <p class="user"><i class="fa fa-user"></i>Jessica</p>
            <p class="time"><i class="fa fa-clock-o" aria-hidden="true"></i>08:00:00 PM</p>
            <p class="unjoin"><i class="fa fa-times" aria-hidden="true"></i><a href="">Unjoin</a></p>
          </li>
          <li class="attending event-item">
            <p class="title">"Okay Fine"</p>
            <p class="user"><i class="fa fa-user"></i>Rich-ter</p>
            <p class="time"><i class="fa fa-clock-o" aria-hidden="true"></i>08:00:00 PM</p>
            <p class="unjoin"><i class="fa fa-times" aria-hidden="true"></i><a href="">Unjoin</a></p>
          </li>
        </ul>
      </div>

      


      <h2>Below this is the original code.</h2>

      <div ng-if='events.fetch'>

        <li ng-repeat="event in events.list | reverse" style = "list-style: none">
          <span style = "font-weight: bold">{{event.username}} wants to {{ event.eventname}}</span>
          <span>{{event.timestamp.slice(11, 19)}}</span>
          <md-button ng-click="join(event.id, event.status)" class="md-warn md-raised md-hue-2 font"> {{event.status}} </md-button>
        </li>

      </div>

      <!-- Notification Box -->
      <div ng-if='events.fetch'>

        <h1 class="sidebar-title">Attending</h1>

        <li ng-repeat="event in events.eventsIgoTo | reverse" style = "list-style: none">
          <span style = "font-weight: bold"> I want to {{ event.eventname}} </span>
          <span> {{event.timestamp.slice(11, 19)}}  </span>
          <md-button ng-click="join(event.id, event.status)" class="md-warn md-raised md-hue-2 font"> {{event.status}} </md-button>
        </li>

      </div>

  </div>
</div>

<div id='contentWrapper'>

  <div id='firechat-wrapper' ng-controller='chatCtrl'>

    <a href='' ng-click='login()'>Login</a>
      <div id="chat">
        <div id="messageContainer">
          <ul id="example-messages">
          </ul>
        </div>
        <span class="chat-user">{{ username }}</span>
        <div class="message-input-container">
          <input type="text" id="messageInput" placeholder="Enter message here">
          <button>Submit</button>
        </div>
      </div>

  <div>

</div>
