<div ng-controller="AppCtrl" class="admin-bar">
  <a href="" ng-click="logout()" class="logout" id="logout">Logout&nbsp;&nbsp;<i class="fa fa-sign-out" aria-hidden="true"></i></a>
  <div class="admin-logo"></div>
</div>

<div id="newEvent" ng-include src="'app/event/newEvent.html'"></div>

<div id="sidebar-wrapper">
  <div class="sidebar" id="sidebar" ng-controller='dashboardCtrl'>

      <!-- event button -->
      <button class="new-event" id="newEvent" ng-click="showAdvanced($event)">
        <span>
          New Event
        </span>
      </button>

      <h1 class="title"> My Events </h1>

      <div ng-if='events.fetch'>

        <li ng-repeat="event in events.list | reverse" style = "list-style: none">
          <span style = "font-weight: bold"> {{event.username}} wants to {{ event.eventname}} </span>
          <span> {{event.timestamp.slice(11, 19)}}</span>
          <md-button ng-click="join(event.id, event.status)" class="md-warn md-raised md-hue-2 font"> {{event.status}} </md-button>
        </li>

      </div>

      <!-- Notification Box -->
      <div ng-if='events.fetch'>

        <h1 class="title">Attending</h1>
          <li ng-repeat="event in events.eventsIgoTo | reverse" style = "list-style: none">
            <span style = "font-weight: bold"> I want to {{ event.eventname}} </span>
            <span> {{event.timestamp.slice(11, 19)}}  </span>
            <md-button ng-click="join(event.id, event.status)" class="md-warn md-raised md-hue-2 font"> {{event.status}} </md-button>
          </li>

      </div>

  </div>
</div>

<div id='contentWrapper'>

  <div id='firechat-wrapper' ng-controller='chatCtrl'>

    <a href='#' ng-click='login()'>Login</a>
      <div id="chat">
        <div id="messageContainer">
          <ul id="example-messages">
          </ul>
        </div>
        <span class="chat-user">{{ username }}</span>
        <input type="text" id="messageInput" placeholder="Enter message here">
        <button>Submit</button>
      </div>

  <div>

</div>
