.page.auth {
  background-color: $blue;
  height: 100%;
}

.logo-open2 {
  background-image: url('../img/logo-white.png');
  background-size: cover;
  width: 102px;
  height: 122px;
  position: absolute;
  left: 36%;
  top: -160px;
}

.auth-label {
  margin: 0;
  margin-bottom: 20px;
  font-size: 20px;
  color: #444;
}

.input-container {
  position: relative;
}

.input-container .login-icon {
  position: absolute;
  top: 15px;
  left: 15px;
  color: $gray;
}

.auth-form {
  width: 350px;
  padding: 0px;
  background-color: #fdfdfd;
  border-radius: 5px;
  margin: auto;
  position: absolute;
  left: 0;
  right: 0;
  top: 30%;

  input {
    background-color: #fff;
    text-align: left;
    width: 100%;
    display: block;
    outline: 0;
    border: 0px;
    border: 1px solid #ddd;
    border-radius: 3px;
    padding: 12px 12px 12px 38px;
    margin-bottom: 18px;
  }


  input:focus {
    border: 1px solid #82BAD9;
  }

  label {
    font-size: 16px;
  }

  button {
    margin-bottom: 30px;
    color: #fff;
    background-color: #44942F;
    box-shadow: 0 2px 0 0 #327022;
    text-shadow: 0 1px 0 #327022;
  }

  button:hover {
    background-color: $lightblue;
  }

  button:active {
    box-shadow: 0 -2px 0 #225216, inset 0 -2px 0 #fff;
    background-color: #327022;

    span {
      position: relative;
      top: -2px;
    }
  }

}

.signup-link {
  text-align: center;
}

.loading {
  background-color: rgba(255,255,255,0.6);
  position: absolute;
  z-index:1000;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border-radius: 5px;
}
