#chat { 
  width: 100%;
  background-color: #ddd;
}

#messageContainer {
	height: 500px;
	overflow: auto;
}

.message-single {
  padding: 15px 25px;

  * {
    margin: 0;
  }

  p {
    margin-top: 6px;
  }

  .time {
    color: $darkgray;
    font-size: 14px;
  }
}

.message-single:nth-child(even) {
  background-color: #eee;
}

.message-input-container {
  background-color: $blue;
  padding: 13px 26px;
  vertical-align: top;

  input {
    outline: 0;
    padding: 8px 15px 9px 15px;
    border: 0;
    border-radius: 3px;
    width: 100%;
    background-color: #DDE7ED;
  }

  input:focus {
    outline: 0;
    background-color: #fff;
  }

  button {
    float: right;
    display: inline-block;
    color: #fff;
    width: 100%;
    padding: 8px;
    background-color: #44942F;
    box-shadow: 0 2px 0 0 #327022;
    text-shadow: 0 1px 0 #327022;

    i {
      display: inline-block;
      margin-right: 4px;
    }
  }

  button:hover {
    background-color: #4B9C36;
  }

  button:active {
    box-shadow: 0 -2px 0 #225216, inset 0 -2px 0 $blue;
    background-color: #327022;

    span {
      position: relative;
      top: -2px;
    }
  }

  .input-container {
    width: 82%;
    display: inline-block;
    vertical-align: top;

    .chat-user {
      position: absolute;
      top: 8px;
      left: 12px;
      color: $darkgray;
    }
  }

  .button-container {
    width: 15%;
    float: right;
    vertical-align: top;
  }

}

.example-chat-username {
  text-transform: capitalize;
}
