// body {
// 	background-color: lavender;
// }

$topbar: 60px;

.admin-bar {
	text-align: center;
	position: relative;
	background-color: $blue;
	height: $topbar;
	z-index: 5;
}

@import 'sidebar';

#contentWrapper {
	padding: 20px;
	margin-left: 30%;
	width: 70%;


}
