body {
	background-color: lavender;
}

#sidebar {
	top: 0;
	left: 0;
	position: absolute;
	height: 100%;
	width: 25%;
	background-color: white;

	ul {
		padding: 0px;
	}

	#newEvent {
		min-width: 250px;
		// margin-left: 145px;
		margin-top: 0px;
	}

	#logout {
		float: right;
	}

	h1 {
		font-size: 36px;
		background-color: white;
		margin-bottom: 7px;
		background-color: pink;
		text-transform: uppercase;
		text-align: left;
	}

	#title {
	  color: #FF4300;
	  text-align: center;
	  font-size: 40px;
	  text-align: left;
	}

}

#contentWrapper {
	padding: 20px;
	margin-left: 25%;
	width: 75%;

	#chat { 
		width: 100%;
		height: 400px;
		border: 1px solid #000;
	}


}
