<div class="auth-form login-form">
  <div class="logo-open2"></div>
  <div class="form-group" ng-controller = "loginCtrl">

    <!-- Loading Spinner -->
    <div class="loading" ng-show="loading">
      <div class="spinner">
        <div class="dot1"></div>
        <div class="dot2"></div>
      </div>
    </div>

    <!-- Form -->
    <p class="auth-label">Login</p>
    <div class="input-container">
      <input type="text" name="username" ng-model="username" placeholder="Username">
      <i class="fa fa-user login-icon" aria-hidden="true"></i>
    </div>
    <div class="input-container">
      <input ng-enter="submit()" type="password" name="password" ng-model="password" placeholder="Password">
      <i class="fa fa-lock login-icon" aria-hidden="true"></i>
    </div>
    <button class="login-button" ng-click="submit()"><span>Log In</span></button>
    Don't have an account?&nbsp;<a href="" class="signup-link" ng-click="redirectSignup()">Sign Up</a>&nbsp;<i class="fa fa-angle-double-right" aria-hidden="true"></i>
    
  </div>
</div>
